body
{
    background-color: bisque;
}

h1
{
    color: blueviolet;
}

div
{
    background-color: aquamarine;
    width:50%;
    padding: 1rem;
}

div p
{
    color: brown;
}

/* l'utilisation de Pseudo-class afin de Cibler le premier element du div qui est le premier p */
div p:first-child
{
color: blue;
}

/* Cibler le paragraphe num 7 */
div p:nth-child(7)
{
color: rgb(255, 111, 0);
font-weight: bold;
}
/* Cibler le dernier p */

div p:last-child
{
    background-color:rgb(0, 255, 106) ;
}

/* div : est pareil que div p: */

/* Cibler les element de rang pair */
div :nth-child(even)
{
    background-color: beige;
}

/* cibler les p de rang impair */
div :nth-child(odd)
{
    color: rgb(10, 96, 46);
}


div :nth-child(3),div :nth-child(6)
{
    text-transform: uppercase;
}

/* Il faut coller section.select, pas d'espace */
section.select p
{
    color: rgb(193, 16, 16);
}

section.select p:first-of-type,section.select p:last-of-type
{
    color: azure;
}

section.select p:nth-of-type(3)
{
    font-weight: bold;
}

section div
{
    /* text-transform: lowercase; */
    font-style: italic;
  font-variant: small-caps;
} 

/* L'addition de paramètre (cette paramètre est juste pour montrer */
section div:not(.zoneB, .zoneB)
{
    font-weight: bolder;
}

section.select div.zoneA
{
    color:rgb(32, 190, 11);
}

#zoneD span
{
color: rgb(0, 8, 117);
background-color: rgb(231, 219, 8);
}

